body{
    position:relative;      
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("@/assets/images/background_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(5px);
    opacity: 0.3; /* 设置背景图片透明度*/
    z-index: -1;
}

.first-specialEvent{
  margin-top:100px;
  display:flex;
  padding: 2vw;
}
.first-specialEvent ul{
  list-style:disc;
  margin: 0px;
  padding: 0px;
}
.first-specialEvent .left-column{
  width:200px;
  padding: 10px;
  padding-left: 30px;
  margin-right: 20px;
  display:flex;
  flex-direction:column;
  border:5px solid rgb(176, 125, 125);
  background-color: antiquewhite;
  box-shadow: 2px 2px 8px rgb(75, 65, 65);
}

.first-specialEvent .left-column .xiaobiaoti{
  font-size: 2rem;
  font-family:"隶书";
  margin-top: 10px;
  margin-bottom:10px;
}
.first-specialEvent .left-column .content{
  font-size: 1rem;
  font-family:"楷体";
  font-weight:500;
  margin:5px;
  transition:0.2s;
}
.first-specialEvent .left-column .content:hover{
  font-weight:600;
  transform:translate(10%, 10%) scale(1.2);
  
  color:rgb(147, 79, 31);
}
.first-specialEvent .left-column .router-link{
  text-decoration: none;
  color: inherit;

}




.first-specialEvent .middle-column{
  margin-right: 20px;
  padding: 25px;
  padding-left: 35px;
  flex:1;
  border:5px solid rgb(176, 125, 125);
  background-color: antiquewhite;
}
.first-specialEvent .middle-column ul{
  list-style:none;
}
.first-specialEvent .right-column{
  margin-left: 20px;
  padding: 25px;
  width:200px;
}